html {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
:root {
    --quantity: 16;
}
.frame {
    height: 85vh;
    width: 40vw;
    border: 50px solid red;
    border-bottom: 90px solid red;
    border-radius: 20px;
    box-shadow: 0 0 10px red;
    margin: auto;
    margin-top: 50px;
}
.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr); /*repeat(var(--quantity), 1fr);*/
    grid-template-rows: repeat(16, 1fr); /*repeat(var(--quantity), 1fr);*/
    height: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 0 20px white;
}
.cell {
    border: 0.1px solid #e9e5e5;
    background-color: white;
    width: auto;
    height: auto;
}
.controls {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-left: -30px;
}
.controls button {
    font-family: monospace;
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    font-weight: bold;
    padding: 10px 25px;
    overflow: hidden;
    outline:none;
    cursor: pointer;
}
.controls button:hover {
    border-radius: 25px;
    transition: 0.25s;
}
.controls button:focus {
    border-radius: 25px;
    box-shadow: 0 0 20px white;
    text-shadow: 0 0 10px white;
    transform: scale(1.2);
    border: 1px solid white;
    animation: scale-elm 500ms ease infinite alternate;
    box-shadow: 0 0 1px 1px black;
    transform: 200ms;
}
#header {
    /* display: block; */
    top: 0;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px white;
}
p {
    display: block;
}
.right {
    float: right;
    font-size: 15px;
    margin-right: 10px;
}
